@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); /* nav items */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /* logo, h1 */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap'); /* p */

* {
    box-sizing: border-box;
}
*:-moz-placeholder {
    font-family: 'Alegreya Sans', sans-serif;
} 
*::-moz-placeholder {
    font-family: 'Alegreya Sans', sans-serif;
} 
*::-webkit-input-placeholder {
    font-family: 'Alegreya Sans', sans-serif;
}
*:-ms-input-placeholder {
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #eee;
}

a {
    color: #154360  ;
    text-decoration: none;
}

button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
}

h1 {
    margin: 0;
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
}

p {
    font-size: 18px;
    font-family: 'Alegreya Sans', sans-serif;
}

td {
    vertical-align: top;
}
table, form {
    font-family: 'Alegreya Sans', sans-serif;
}
fieldset {
    border: none;
    background-color: #fff;
    color: #000;
}

input, textarea {
    padding: 3px;
}
input[type=submit] {
    
}

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    background-color: #fff;
    font-family: 'Itim', cursive;
    font-size: 20px;
    box-shadow: 5px 0 5px grey;
}
.navbar a {
    color: #000;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
}
#logo {
    font-family: 'Fredoka One', cursive;
    font-size: 36px;
    text-align: center;
}
#logo-img {
    width: 30px;
    margin-right: 10px;
}
.expand img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu li {
    text-align: center;
}
.menu a {
    margin: 10px 30px;
}

.content {
    margin-top: 70px;
}

@media only screen and (max-width: 854px) {
    #slider {
        position: relative;
        width: 100%;
    }
    .image {
        width: 100%;
    }
    .btn {
        position: absolute;
        height: calc(100% - 40px);
        margin: 20px 5px;
        background: none;
        border: none;
        cursor: pointer;
        outline: inherit;
        transition: transform 0.4s, background-color 0.4s;
    }
    .btn:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 15%);
        border-radius: 10px;
    }
    .btn img {
        width: 50px;
        height: 50px;
    }
    .btn-left {
        left: 0;
    }
    .btn-right {
        right: 0;
    }
}

@media only screen and (min-width: 854px) {
    .navbar {
        display: flex;
        align-items: center;
    }
    .menu {
        display: block;
    }
    .menu li {
        display: inline;
    }
    #logo {
        display: inline;
    }
    .expand {
        display: none;
    }
    
    #slider {
        height: 400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #28b463;
    }
    
    .image {
        height: 100%;
    }
    
    .btn {
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        outline: inherit;
    }
    
    .btn img {
        width: 50px;
        height: 50px;
    }
    
    .btn-left {
        margin-left: 15%;
    }
    .btn-right {
        margin-right: 15%;
    }

    .container {
        width: 80%;
        margin: 30px auto;
        padding: 20px;
        background-color: #FFF;
    }

    #gallery {
    }
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }
    .gallery-container div {
        display: flex;
        align-items: center;
        width: 200px;
        height: auto;
        margin: 10px;
        overflow: hidden;
    }
    .gallery-container img {
        width: 100%;
        opacity: 0.6;
        transition: transform 0.2s, opacity 0.2s;
    }
    .gallery-container img:hover {
        transform: scale(110%);
        opacity: 1;
        cursor: pointer;
    }

    #contact {
        background-color: #28b463;
        color: #fff;
    }

}